{{ define "main" }}
<div class="uk-section">
    <div class="uk-container uk-container-large">
        <div uk-grid>
            <div class="uk-width-4-5@s">
                <div uk-grid>
                {{ range (where .Site.RegularPages "Type" "blog") }}
                        <div class="uk-width-1-3@m uk-width-1-2@s">
                            {{ partial "templates/blog-grid" . }}
                        </div>
                {{ end }}
            </div>

            </div>
            <div class="uk-width-1-5">
                    <div>
                        {{ partial "templates/blog-sidebar" . }}
                    </div>
            </div>
        </div>
    </div>
</div>
{{  end }}