{{ $thisPost := .RelPermalink }}
{{ $comments := .Site.Data.comments }}
{{ $.Scratch.Set "counter" 0 }}
{{ range $comments }}
    {{ range . }}{{ if eq .path $thisPost }}{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}{{ end }}{{ end }}
{{ end }}
{{ if gt ($.Scratch.Get "counter") 0 }}{{/*  only show comment section if there are comments  */}}
    <div class="row mb-5">
    {{ range $comments }}
        {{ range . }}
            {{ if eq .path $thisPost }}
            <div class="col-sm-12 py-3">
                <div class="shadow-sm px-4 py-4">
                    <i><span class="small">{{ .name }}</span><span class="small"> on {{ .date | dateFormat "Mon, 02 Jan. 2006, 15:04 MST" }}</span></i>
                    <p class="px-3 mt-3 mb-0">{{ .comment }}</p>
                </div>
            </div>
            {{ end }}
        {{ end }}
    {{ end }}
    </div>
{{ end }}