{{ $thisPost := .RelPermalink }}
{{ $comments := .Site.Data.comments }}
{{ $.Scratch.Set "counter" 0 }}
{{ range $comments }}
    {{ range . }}{{ if eq .path $thisPost }}{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}{{ end }}{{ end }}
{{ end }}
{{ if gt ($.Scratch.Get "counter") 0 }}{{/*  only show comment section if there are comments  */}}
    {{ range $comments }}
        {{ range . }}
            {{ if eq .path $thisPost }}
                    <article class="uk-comment">
                        <header class="uk-comment-header">
                            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                <div class="uk-width-expand">
                                    <h3>{{ .heading }}</h3>
                                    <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{ .name }}</a></h4>
                                    <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                                        <li>
                                            {{ if eq .rating "5" }}
                                            <img src="/assets/stars-filled.svg" alt="" width="15">
                                            <img src="/assets/stars-filled.svg" alt="" width="15">
                                            <img src="/assets/stars-filled.svg" alt="" width="15">
                                            <img src="/assets/stars-filled.svg" alt="" width="15">
                                            <img src="/assets/stars-filled.svg" alt="" width="15" class="mr-3">
                                            {{ else if eq .rating "4" }}
                                            <img src="/assets/stars-filled.svg" alt="" width="15">
                                            <img src="/assets/stars-filled.svg" alt="" width="15">
                                            <img src="/assets/stars-filled.svg" alt="" width="15">
                                            <img src="/assets/stars-filled.svg" alt="" width="15">
                                            <img src="/assets/stars-empty.svg" alt="" width="15" class="mr-3">
                                            {{ else if eq .rating "3" }}
                                            <img src="/assets/stars-filled.svg" alt="" width="15">
                                            <img src="/assets/stars-filled.svg" alt="" width="15">
                                            <img src="/assets/stars-filled.svg" alt="" width="15">
                                            <img src="/assets/stars-empty.svg" alt="" width="15">
                                            <img src="/assets/stars-empty.svg" alt="" width="15" class="mr-3">
                                            {{ else if eq .rating "2" }}
                                            <img src="/assets/stars-filled.svg" alt="" width="15">
                                            <img src="/assets/stars-filled.svg" alt="" width="15">
                                            <img src="/assets/stars-empty.svg" alt="" width="15">
                                            <img src="/assets/stars-empty.svg" alt="" width="15">
                                            <img src="/assets/stars-empty.svg" alt="" width="15" class="mr-3">
                                            {{ else if eq .rating "1" }}
                                            <img src="/assets/stars-filled.svg" alt="" width="15">
                                            <img src="/assets/stars-empty.svg" alt="" width="15">
                                            <img src="/assets/stars-empty.svg" alt="" width="15">
                                            <img src="/assets/stars-empty.svg" alt="" width="15">
                                            <img src="/assets/stars-empty.svg" alt="" width="15" class="mr-3">
                                            {{ end }}
                                        </li>
                                        <li>on {{ .date | dateFormat "Jan. 02, 2006" }}</li>
                                    </ul>
                                </div>
                            </div>
                        </header>
                        <div class="uk-comment-body">
                            <p>{{ .review }}</p>
                        </div>
                    </article>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
