<footer>
<hr>
<div class="uk-section">
  <div class="uk-container uk-container-large">
    <div class="uk-text-left" uk-grid>
      <div class="uk-width-1-3@s">
          <div>
            <h4 class="uk-text-left uk-text-bold">About</h4>
            <p>Your nature-inspired supplier of all-organic and fresh produce for all your daily needs. We offer skin treatments, nutrition advisory and more.</p>
            <h6 class="uk-text-small">Follow Us</h6>
            <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="instagram"></a>
            <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
          </div>
      </div>
      <div class="uk-width-1-3@s">
        <div>
          <h4 class="uk-text-left uk-text-bold">Profile</h4>
          <ul class="uk-list">
            <li><a href=""><span href="#" uk-icon="icon: user" class="uk-margin-small-right"></span><span class="uk-text-middle">My Account</span></a></li>
            <li><a href=""><span href="#" uk-icon="icon: cart" class="uk-margin-small-right"></span><span class="uk-text-middle">Checkout</span></a></li>
            <li><a href=""><span href="#" uk-icon="icon: question" class="uk-margin-small-right"></span><span class="uk-text-middle">FAQ</span></a></li>
        </ul>
        </div>    
      </div>
      <div class="uk-width-1-3@s">
        <div>
          <h4 class="uk-text-left uk-text-bold">Contact</h4>
          <ul class="uk-list">
            <li><a href=""><span href="#" uk-icon="icon: mail" class="uk-margin-small-right"></span><span class="uk-text-middle">info@peachpop.com</span></a></li>
            <li><a href=""><span href="#" uk-icon="icon: file-text" class="uk-margin-small-right"></span><span class="uk-text-middle">Legal Policies</span></a></li>
          </ul>
        </div>    
      </div>
  </div>
  </div>
</div>

</footer>
<div id="snipcart" data-config-modal-style="side" data-api-key="NjQxOWYyZTYtMjA2Zi00YTMwLWEzN2EtYmE0ODQ1YzhmYWViNjM3NDU4MzE3NDI4OTM1NTgx" hidden></div>
<script async src="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.js"></script>
 </body>
 </html>