{{ $video := .Site.Data.homelayout.video }}
<div class="uk-section">
    <div class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="{{ $video.background_image }}" uk-img>
        <a class="uk-button" uk-icon="icon: play-circle; ratio: 4" href="#modal-media-video" uk-toggle></a>
    </div>
</div>
<div id="modal-media-video" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <video src="{{ if $video.upload_video }}{{ $video.upload_video }}{{ else }}{{ $video.video_link }}{{ end }}" controls playsinline uk-video></video>
    </div>
</div>