{{ $hero := .Site.Data.homelayout.hero }}
<div class="uk-position-relative">
    {{ partial "global/navbar" . }}
<div class="uk-background-cover uk-light uk-flex" uk-height-viewport uk-parallax="bgy: -150" style="background-image: url('{{ $hero.image }}');">
    <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical ">
        <h1 class="heading size-large">{{ $hero.heading }}</h1>
        <h2 class="uk-margin-small-top">{{ $hero.subtitle }}</h2>
        <a href="{{ $hero.link }}" class="uk-button uk-button-default">{{ $hero.link_text }}</a>
    </div>
</div>
</div>