{{ define "main" }}
{{ $salePrice := .Params.sale_price }}
{{ $listPrice := .Params.price }}
<div class="uk-section">
    <div class="uk-container">
        <div uk-grid>
            <div class="uk-width-1-2@s">
                <div uk-slideshow="animation: push;min-height:600">
                    <div class="uk-position-relative uk-visible-toggle uk-dark" tabindex="-1">
                        <ul class="uk-slideshow-items">
                            {{ range .Params.photos }}
                            <li>
                                <img src="{{ . }}" alt="" uk-cover>
                            </li>
                            {{ end }}
                        </ul>
                        <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                    </div>
                    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
                </div> {{/* end slideshow */}}
            </div>
            <div class="uk-width-1-2@s">
                <div class="uk-width-3-4">
                    <div class="product-title">
                        <h1 class="size-1">{{ .Title }}</h1>
                    </div>
                    <div class="product-price">
                        {{ if .Params.sale_price }}
                        <span class="strike uk-margin-small-right">{{ lang.NumFmt 2 .Params.price }}</span>
                        <span class="uk-text-bold">${{ lang.NumFmt 2 .Params.sale_price }}</span>
                        {{ else }}
                        <span class="uk-text-bold">${{ lang.NumFmt 2 .Params.price }}</span>
                        {{ end }}
                    </div>
                    <div class="product-description uk-margin-medium-top">
                        {{ .Content }}
                    </div>
                    <div>
                        <button class="uk-button snipcart-add-item"
                            data-item-id="{{ .Params.sku }}"
                            data-item-price="{{ if $salePrice }}{{ $salePrice }}{{ else }}{{ $listPrice }}{{ end }}"
                            data-item-url="{{ .Permalink }}"
                            data-item-description="{{ .Summary }}"
                            data-item-image="{{ index .Params.photos 0 }}"
                            data-item-name="{{ .Title }}"
                            {{ with .Params.customOptions }}
                            {{- range $index, $option := . -}}
                            {{ safeHTMLAttr (partial (printf "custom-options/%s" .template) (dict "Index" (add 1 $index) "Option" $option)) }}
                            {{- end -}}
                            {{ end }}>
                        Add to bag
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="uk-section">
    <div class="uk-container">
        <ul uk-tab>
            <li><a href="#">Additional Information</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="#">Details</a></li>
        </ul>
        <ul class="uk-switcher uk-margin">
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem veritatis at vitae aliquid, molestiae repellendus dignissimos quae voluptate ducimus reiciendis iure similique fugiat minus numquam pariatur autem accusamus magnam eum.</li>
            <li>
                <a class="uk-button uk-button-default" href="#modal-center" uk-toggle>Write a review</a>
                <div id="modal-center" class="uk-flex-top" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <h4>We hope you love our products!</h4>
                        <form action="/thank-you" class="uk-grid-small" uk-grid netlify-honeypot="bot-field" netlify name="Product Review Form" method="POST" data-netlify-recaptcha="true">
                            <input name="bot-field" type="hidden">
                            <input name="path" type="hidden" value="{{ .RelPermalink }}">
                            <div class="uk-width-1-1">
                                <div class="field rating">
                                    <legend>Rating</legend>
              
                                    <input id="star-1" type="radio" name="Rating" value="1" required> 
                                    <label for="star-1">1 star</label>
                                    <input id="star-2" type="radio" name="Rating" value="2" required>
                                    <label for="star-2">2 stars</label>
                                    <input id="star-3" type="radio" name="Rating" value="3" required>
                                    <label for="star-3">3 stars</label>
                                    <input id="star-4" type="radio" name="Rating" value="4" required>
                                    <label for="star-4">4 stars</label>
                                    <input id="star-5" type="radio" name="Rating" value="5" required>
                                    <label for="star-5">5 stars</label>
                                    
                                    <div class="stars">
                                        <label for="star-1" aria-label="1 star" title="1 star"></label>
                                        <label for="star-2" aria-label="2 stars" title="2 stars"></label>
                                        <label for="star-3" aria-label="3 stars" title="3 stars"></label>
                                        <label for="star-4" aria-label="4 stars" title="4 stars"></label>
                                        <label for="star-5" aria-label="5 stars" title="5 stars"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="uk-width-1-1">
                                <input class="uk-input" name="Heading" type="text" placeholder="Heading" required>
                            </div>
                            <div class="uk-width-1-2@s">
                                <input class="uk-input" type="text" placeholder="Name" name="Name" required>
                            </div>
                            <div class="uk-width-1-2@s">
                                <input class="uk-input" type="text" placeholder="Email" name="Email" required>
                            </div>
                            <div class="uk-width-1-1">
                                <textarea name="Review" id="" cols="30" rows="8" class="uk-textarea" placeholder="Your review" required></textarea>
                            </div>
                            <div class="uk-width-1-1">
                                <button class="uk-button uk-button-default">Submit</button>
                            </div>
                            <div class="uk-width-1-1">
                                <div data-netlify-recaptcha="true" required></div>
                            </div>
                        </form>
                    </div>
                </div>
                {{ partial "comment-list" . }}
            </li>
            <li>Bazinga!</li>
        </ul>
    </div>
</div>
<div class="uk-section">
    <div class="uk-container">
        <h2 class="uk-text-lead">Other Products</h2>
        <div class="uk-slider-container-offset" uk-slider>
            <div class="uk-position-relative uk-visible-toggle uk-dark" tabindex="-1">
                <ul class="uk-slider-items uk-child-width-1-3@m uk-child-width-1-3@s uk-grid">
                    {{ range where .Site.RegularPages "Type" "shop" }}
                        <li>
                            <a href="{{ .Permalink }}">
                                {{ partial "templates/product-grid" . }}
                            </a>
                        </li>
                    {{ end }}
                </ul>
        
                <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        
            </div>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        
        </div>
    </div>
</div>
{{ end }}