{{ define "main" }}
<div class="uk-section uk-section-small">
    <div class="uk-container">
        <div class="uk-margin-large-bottom">
            <h4 class="uk-text-lead uk-text-bold">{{ .Params.heading }}</h4>
            <p>{{ .Params.body | markdownify }}</p>
        </div>
        <ul uk-accordion>
            {{ range .Params.faq }}
            <li>
                <a class="uk-accordion-title" href="#">{{ .question }}</a>
                <div class="uk-accordion-content">
                    {{ .answer | markdownify }}
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}