{{ define "main" }}
<div class="uk-section uk-section-small">
    <div class="uk-container">
        <div class="uk-margin-large-bottom">
            <h4 class="uk-text-lead uk-text-bold">View our most asked questions</h4>
            <p>Can't find an answer that's not there? Contact us and we'll answer your questions for you</p>
        </div>
        <ul uk-accordion>
            <li class="uk-open">
                <a class="uk-accordion-title" href="#">How long is shipping</a>
                <div class="uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title" href="#">Where do you ship from</a>
                <div class="uk-accordion-content">
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title" href="#">What are the returns</a>
                <div class="uk-accordion-content">
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                </div>
            </li>
        </ul>
    </div>
</div>
{{ end }}